{% extends 'base.html' %}

{% block content %}

	<div class="container mt-5">
		<h1>{{code.title}}</h1>

		<!-- DO and DON'T's section -->
		<div class="row mb-3">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<div class="card-title"><h3>DO's</h3></div>
						<div class="card-text">{{code.can_dos}}</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<div class="card-title"><h3>DON'T's</h3></div>
						<div class="card-text">{{code.cannot_dos}}</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Description Section -->
		<h3>Description</h3>
			<p>{{code.description}}</p>
		{% if user.is_authenticated and user.architectorofficer.is_officer is True %}
			<div class="row ml-5">
				<a class="btn btn-primary mr-5" href="{% url 'codes:edit_code' code.slug %}">Update This Code</a>
				<a class="btn btn-warning" href="{% url 'codes:remove_code' code.slug %}">Delete This Code</a>
			</div>
		{% endif %}
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>

{% endblock %}
