{% extends 'base.html' %}
    {% block content %}

    <div class="container">

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }} alert alert-success"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Log in Section -->
        <h3>Log In <small class="text-muted">and Make Your Buildings a Reality!</small></h3>
        <hr>
        <div class="row">
            <div class="col">
                <!-- display messages to the user if needed -->
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                <!-- Login form -->

                <form method="post" class="mx-auto">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-8">
                            <label for="id_username">Username</label>
                            <input class="form-control" type="text" name="username" id="id_username" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-8">
                            <label for="id_password">Password</label>
                            <input class="form-control" type="password" name="password" id="id_password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-8">
                            <input type="submit" value="Login" class="btn btn-success">
                            <input type="hidden" name="next" value="{{ next }}">
                            <a class="btn btn-primary ml-5" href="{% url 'accounts:signup' %}">Sign Up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}
