{% extends 'base.html' %}
    {% block content %}

  <!-- body for the signup page form -->
<link rel="stylesheet" type="text/css" href="../../../../static/css/login.css">
<style>body {background-color: #B85750;}</style>
  <!-- credit to Zain Raza's source code for Travelly, at https://travelly-zr.herokuapp.com/signup/ -->
  <div class="container">
      <h3>Signup for ZANK!</h3>
      <hr>
      <div class="row mb-10">
          <div class="col">
              <!-- Form to sign up for a nee account -->
              <form method="post" class="mx-auto">
                  {% csrf_token %}
                    {% for field in form %}
                      {% for error in field.errors %}
                          <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                      <div class="form-group row">
                          <div class="col-8">
                            <label for="id_{{ field.name }}">{{ field.label|title }}:</label>
                            <p class="form">{{ field.help_text }}</p>
                            <input class="form-control" type="{% if 'password' in field.name %}password{% else %}text{% endif %}" name="{{ field.name }}" id="id_{{ field.name }}" required>
                          </div>
                      </div>
                    {% endfor %}
                  <!--{#

                      <!-- Email address field
                      <div class="form-group row">
                          <div class="col-8">
                            <label for="id_email">Email Address:</label>
                            <p class="form"></p>
                            <input class="form-control" type="text" name="email" id="id_email" required>
                          </div>
                      </div>

                      <!-- Username field
                      <div class="form-group row">
                          <div class="col-8">
                            <label for="id_username">Username:</label>
                            <p class="form">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
                            <input class="form-control" type="text" name="username" id="id_username" required>
                          </div>
                      </div>

                      <!-- first name field
                      <div class="form-group row">
                          <div class="col-8">
                            <label for="id_first_name">First Name:</label>
                            <p class="form"></p>
                            <input class="form-control" type="text" name="first_name" id="id_first_name" required>
                          </div>
                      </div>

                      <!-- last name field
                      <div class="form-group row">
                          <div class="col-8">
                            <label for="id_last_name">Last Name:</label>
                            <p class="form"></p>
                            <input class="form-control" type="text" name="last_name" id="id_last_name" required>
                          </div>
                      </div>

                      <!-- password field
                      <div class="form-group row">
                          <div class="col-8">
                            <label for="id_password1">Password:</label>
                            <p class="form"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></p>
                            <input class="form-control" type="password" name="password1" id="id_password1" required>
                          </div>
                      </div>

                      <!-- confirm password field
                      <div class="form-group row">
                          <div class="col-8">
                            <label for="id_password2">Password Confirmation:</label>
                            <p class="form">Enter the same password as before, for verification.</p>
                            <input class="form-control" type="password" name="password2" id="id_password2" required>
                          </div>
                      </div>

                      <!-- is_officer field
                      <div class="form-group row">
                          <div class="col-8">
                            <label for="id_is_officer">Are You an Archtect or Compliance Officer?</label>
                            <p class="form">Please check off how you will be using ZANK.</p>
                            <label>
                                <input class="form-control" type="radio" name="is_officer" id="id_last_name" value="architect" required>Architect
                            </label>
                            <label>
                                <input class="form-control" type="radio" name="is_officer" id="id_last_name" value="officer" required>Officer
                            </label>
                          </div>
                      </div>#}-->

                  <button type="submit" class="btn btn-success">Create New Account</button>
              </form>
              <br>
          </div>
      </div>
      <br>
  </div>

  {% endblock %}
